@import './media.css';
@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f9f9f9;
  color: #333;
  padding: 0;
  margin: 0 auto;
  min-width: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (--viewport-small) {
    max-width: 100%;
    padding: 0 15px;
  }
}

h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

a[rel~='external']::after {
  display: inline-block;
  font-weight: normal;
  color: #333;
  content: '\2009\2192';

  &:hover {
    opacity: 0.8;
  }
}

.post a[rel~='external']::after {
  opacity: 0.8;
  content: '\2009';
  width: 15px;
  background-position-y: 5px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' x='0px' y='0px' viewBox='0 0 100 100' width='15' height='15' class='icon outbound'%3E%3Cpath fill='currentColor' d='M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z'%3E%3C/path%3E%3Cpolygon fill='currentColor' points='45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9'%3E%3C/polygon%3E%3C/svg%3E");
}

a[rel~='external'] {
  &:hover {
    opacity: 0.8;
  }
}

.main {
  flex: 1 0 auto;
  max-width: var(--content-max-width);
  width: 100%;
}

.main.tmpl-post {
  max-width: 720px;
}

.homepage {
  margin-bottom: 60px;
}

.homepage__photo {
  width: 120px;
  border-radius: 120px;
}

.homepage__year {
  font-size: 39px;
  padding-bottom: 10px;
}

.homepage__year_yellow {
  background: #f5f548;
}

a {
  text-decoration: none;
  color: #585858;
}

.homepage h1 {
  font-size: 2.82715em;
  position: relative;

  &::before,
  &::after {
    display: block;
    content: '<Morgunov Alexander />';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }

  &::after {
    color: #f0f;
    z-index: -2;
  }

  &::before {
    color: #0ff;
    z-index: -1;
  }

  &:hover {
    &::before {
      animation: glitch 0.8s cubic-bezier(.25, .46, .45, .94) both infinite;
    }

    &::after {
      animation: glitch 0.8s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
    }
  }
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-1px, 1px);
  }

  40% {
    transform: translate(-1px, -1px);
  }

  60% {
    transform: translate(1px, 1px);
  }

  80% {
    transform: translate(1px, -1px);
  }

  to {
    transform: translate(0);
  }
}

.desc {
  font-size: 1.9994em;
  line-height: 36px;
}

.desc span {
  border-bottom: 2px solid #777;
}

.desc2 {
  font-size: 1rem;
  margin: 20px 0 40px;
  line-height: 150%;
}

.posts {
  font-size: 1.1em;
}

.posts li {
  margin-bottom: 5px;
}

/* Tag item */

.tag {
  background: #ffffc6;
  color: #6d6d6d;
  padding: 0 2px;
  font-size: 0.86em;
  font-weight: bold;
}

.more {
  padding: 20px 0;
}

.postlist-date {
  font-size: 0.75em;
  padding-right: 10px;
}

.postlist-item {
  list-style-type: none;
  padding: 10px 0;
}

.postlist-item_home {
  padding: 5px 0;
}

.postlist-link {
  font-weight: bold;
  display: block;
  padding: 5px 0;
  color: #383838;

  &:hover {
    color: #888;
  }
}

.postlist-link-home {
  padding-right: 15px;
  text-decoration: underline;
  display: inline-block;
}

.pagination {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.pagination__item[rel=next]::after {
  display: inline-block;
  font-weight: 400;
  content: '\2009\2192';
}

.pagination__item[rel=prev]::before {
  display: inline-block;
  font-weight: 400;
  content: '\2190\2009';
}

.post {
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-family: Georgia, serif;
  color: rgba(0, 0, 0, 0.86);
  line-height: 1.5em;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  max-width: 720px;
  margin-bottom: 30px;
}

.post h1 {
  font-family: Arial, serif;
  line-height: 1em;
}

.post .highlight {
  background: rgba(255, 235, 59, 0.35);
}

.post p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-top: 40px;
}

.post img {
  max-width: 100%;
  width: 100%;
}

.title {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  line-height: 1.04;
  letter-spacing: -0.015em;
}

pre {
  font-size: 15px;
  font-family: "Menlo", "Meslo LG", monospace;
  line-height: 22px;
  margin: 1em 0;
}

pre code.hljs {
  padding: 20px 30px;
  -webkit-font-smoothing: antialiased;
  border-radius: 2px;

  @media (--viewport-small) {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  }
}

p code {
  background: #eee;
  padding: 1px 5px;
}

video {
  width: 100%;
}

img.lazyload {
  filter: blur(0px);
}

blockquote {
  margin: 0;
  margin-left: -20px;
  padding: 15px 20px;
  font-style: italic;
  border-left: 4px solid #777;

  @media (--viewport-small) {
    margin-left: 0;
  }
}

blockquote p {
  margin: 0 !important;
}

.image-text {
  text-align: center;
  margin: -10px auto 0;
  color: #595959;
  font-size: 16px;
  line-height: 16px;
}

.post a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.nextprev {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  display: flex;
  font-size: 14px;
}

.nextprev__item {
  width: 50%;

  &_right {
    text-align: right;
  }
}

.nextprev__arrow {
  width: 20px;

  &_right {
    text-align: right;
  }
}

.post-tags {
  margin-bottom: 30px;
}

hr {
  border: 0;
  height: 3px;
  background-color: #eee;
}

h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

body.tmpl-post {
  background: #fff;
}

.arrow {
  border: solid #111;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.arrow_type_up {
  transform: rotate(-135deg);
}

.arrow_type_down {
  transform: rotate(45deg);
}

.post-layer__up {
  position: fixed;
  min-width: 115px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 30px 22px;
  opacity: 0.32;
  cursor: pointer;
  transition: opacity 60ms linear;
  top: 0;
  transform: translateZ(0);
  z-index: 999;
  left: 0;
  font-size: 16px;
  font-family: Georgia, serif;
  color: #111;
  text-align: center;

  &:hover {
    background: #fafbfc;
    opacity: 0.8;
  }

  display: none;
}

.post-layer__up_scrolled,
.post-layer__has_down_scroll {
  display: block;

  @media (--viewport-small) {
    display: none;
  }
}

.post-layer__has_down_scroll .arrow_type_up {
  display: none;
}

.post-layer__up_scrolled .arrow_type_down {
  display: none;
}

.post-layer__back {
  padding: 5px 16px;
  margin: 32px 16px;
  font-weight: 700;
  font-size: 14px;
}

ul {
  padding-inline-start: 40px;
  padding-left: 40px;
}

iframe {
  @media (--viewport-small) {
    width: 100%;
  }
}
