@import './media.css';
@import './variables.css';

.header {
  display: flex;
  width: 100%;
  color: #999;
  padding: 30px 0;
  max-width: var(--content-max-width);
  justify-content: flex-end;

  @media (--viewport-small) {
    position: fixed;
    padding: 30px 20px 10px 20px;
    background: #fff;
    z-index: 2;
  }
}

.header__homepage {
  flex-grow: 1;
}

.header__logo {
  background-image: url(/assets/logo.jpg);
  background-size: cover;
  width: 30px;
  height: 36px;
  margin-top: -5px;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}

.header__nav-item {
  padding-right: 5px;
}

.header__nav-item:not(:last-child)::after {
  padding-left: 5px;
  content: '•';
}

.header__menu {
  background-image: url("/assets/menu.svg");
  width: 24px;
  height: 24px;
  background-size: cover;
  margin-right: 10px;
  cursor: pointer;
}

.burger {
  z-index: 5;
}

.burger__menu {
  position: fixed;
  top: 0;
  width: 85%;
  max-width: 320px;
  height: 100%;
  text-align: left;
  transition-property: transform;
  right: 0;
  background: #fff;
  transition-duration: 300ms;
  transform: translateX(100%);
  padding: 20px;
}

.burger__menu_opened {
  transform: translateX(0);
}

.burger__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: #0003;
  transition-property: opacity;
  visibility: hidden;
  transition-duration: 300ms;

  &_opened {
    visibility: visible;
    opacity: 1;
  }
}

.burger__menu-item {
  display: block;
  padding: 10px 0;

  &_logo {
    padding-bottom: 15px;
    padding-left: 40px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    background-image: url(/assets/logo.jpg);
    background-size: 30px 36px;
    background-repeat: no-repeat;
  }
}
