@import './media.css';

.post__emotions {
  background: #0000000f;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.post_emotion {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 50px;
  background-size: cover;
  margin: 0 10px;
  cursor: pointer;

  @media (--viewport-small) {
    width: 40px;
    height: 40px;
  }
}

.post_emotion:hover {
  opacity: 0.8;
  animation: post_emotion_selected 1s ease-in-out 1;
}

.post_emotion__counter {
  display: inline-block;
  color: #fff;
  background: rgba(0, 0, 0, 0.93333);
  font-weight: bold;
  padding: 1px 5px;
  border-radius: 4px;
  position: absolute;
  bottom: -7px;
  right: -7px;
  font-size: 13px;
}

.post_emotion__counter_empty {
  display: none;
}

.post_emotion_type_shocked {
  background-image: url('/assets/images/emotions/shocked.png');
}

.post_emotion_type_rage {
  background-image: url('/assets/images/emotions/rage.png');
}

.post_emotion_type_like {
  background-color: #df2640;
  border-radius: 50%;
  background-image: url('/assets/images/emotions/like.png');
}

.post_emotion_type_dislike {
  background-color: #df2640;
  border-radius: 50%;
  background-image: url('/assets/images/emotions/dislike.png');
}

.post_emotion_type_love {
  background-image: url('/assets/images/emotions/love.png');
}

.post_emotion_type_brains {
  background-image: url('/assets/images/emotions/brains.png');
}

@keyframes post_emotion_selected {
  0% { transform: rotateZ(0deg); }
  30% { transform: rotateZ(15deg); }
  60% { transform: rotateZ(-15deg); }
  95% { transform: rotateZ(0deg); }
}

.post__readmore-title {
  padding-bottom: 20px;
}

.post__tags {
  margin-bottom: 30px;
}

.post a:not(.tag) {
  text-decoration: underline;
  color: #005aa1;

  &:hover {
    text-decoration: none;
    color: #2196f3;
  }
}

.post__time {
  color: #555;
  font-family: Arial, serif;
  font-size: 14px;
  margin-top: -10px;
  margin-left: 2px;
}

.post {
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-family: Georgia, serif;
  color: rgba(0, 0, 0, 0.86);
  line-height: 1.5em;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  max-width: 720px;
  margin-bottom: 30px;
}

.post h1 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  line-height: 1em;
}

.post .highlight {
  background: rgba(255, 235, 59, 0.35);
}

.post p {
  margin-block-start: 1em;
  margin-block-end: 1.5em;
  margin-top: 25px;
}

.post img {
  max-width: 100%;
  width: 100%;
}

.image_size_xl {
  @media (width >= 1200px) {
    max-width: none !important;
    width: 1200px !important;
    margin-left: -240px;
  }
}

/* ---------- */

.posts {
  display: flex;
  flex-wrap: wrap;
}

.post__readmore {
  .posts__item:nth-child(1),
  .posts__item:nth-child(2),
  .posts__item:nth-child(3) {
    width: calc(33% - 10px);
  }

  .posts__item {
    @media (--viewport-small) {
      width: 100% !important;
    }
  }
}

/*
.posts_home {
  .posts__item:nth-child(1) {
    width: calc(65% - 10px);
  }

  .posts__item:nth-child(2) {
    width: calc(35% - 10px);
  }

  .posts__item:nth-child(3) {
    width: calc(35% - 10px);
  }

  .posts__item:nth-child(4) {
    width: calc(65% - 10px);
  }

  .posts__item:nth-child(5) {
    order: 2;
  }

  .posts__item:nth-child(6),
  .posts__item:nth-child(7) {
    width: calc(33% - 10px);
    order: 2;
  }
}
*/

.posts__item {
  position: relative;
  background-color: #eff32c;
  margin: 5px;
  border-radius: 15px;
  font-size: 14px;
  padding: 20px;
  min-height: 150px;
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: all 0.2s ease;
  word-break: break-word;
  background-size: cover;
  background-position: center;

  @media (--viewport-small) {
    font-size: 13px;
    min-height: 140px;
  }
}

.posts__item:hover {
  background-color: #f3de24;
}

.posts__tag {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: rgba(0, 0, 0, 0.66);
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  padding: 2px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    background: rgba(0, 0, 0, 0.44);
  }

  @media (--viewport-small) {
    max-width: 85px;
  }
}

/*
.posts__item:nth-child(1) {
  width: calc(65% - 10px);
}

.posts__item:nth-child(2) {
  width: calc(35% - 10px);
}

.posts__item:nth-child(3) {
  width: calc(35% - 10px);
}

.posts__item:nth-child(4) {
  width: calc(65% - 10px);
}

.posts__item:nth-child(9),
.posts__item:nth-child(10),
.posts__item:nth-child(11) {
  width: calc(33% - 10px);
}
*/
.posts__item_theme_light .posts__link {
  display: inline-block;
  background: #fffa;
  padding: 1px;
}

.posts__item_theme_light .posts__date {
  background: #fffa;
}

.posts__link {
  font-weight: bold;
  display: block;
  color: #383838;
  font-size: 16px;
  padding-top: 5px;
}

.posts__link:hover {
  opacity: 0.8;
}

.posts__desc {
  padding: 10px 0;
  flex-grow: 2;
}

.posts__date {
  font-size: 0.75em;
  padding-right: 10px;
  margin-top: 2px;
}

.posts__item_type_quiz {
  order: 1;
  background-image: url('/assets/images/quiz.gif');
  background-color: #000;
  background-size: cover;
  background-position: center;
}

.posts__item_type_quiz .posts__link {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.posts__item_type_telegram {
  background-color: #dbdbdb;
  order: 2;
  width: calc(33% - 10px);
}

.posts__item_type_telegram .posts__link {
  font-weight: normal;
}

.post-series {
  background: #fef6ec;
  margin: 0 0 1rem;
  padding: 2rem;
  counter-reset: post-series-counter;
  border-radius: 8px;

  & > ol {
    margin: 0;
    list-style: none;
  }

  & > ol li {
    counter-increment: post-series-counter;

    &::before {
      color: #000;
      font-weight: bold;
      content: "Часть " counter(post-series-counter) ": ";
    }
  }

  & > h4 {
    font-size: 1.2em;
    padding-bottom: 15px;
  }
}

.direct-link {
  float: left;
  text-decoration: none !important;
  color: #666 !important;

  &:hover {
    color: #aaa;
  }
}

.code-path {
  font-size: 13px;
  margin-bottom: -15px;
  margin-left: 5px;
  font-family: "Menlo", "Meslo LG", monospace;
  color: #555;
}

.post__like {
  background-image: url("/assets/like.svg");
  padding-left: 20px;
  font-weight: bold;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
