<footer class="footer">
  <div class="footer__container">
    <div class="footer__powered">
      Powered by <a rel="external" href="https://www.11ty.io" class="footer__powered_11ty">11ty</a>,<br />
      <a class="footer__powered-editpage" href="https://github.com/noveogroup-amorgunov/amorgunov.com/tree/master/{{ page.inputPath }}">Редактировать страницу на GitHub</a>
    </div>
  </div>
</footer>
