<div class="header">
  <a href="{{#if (eq page.url '/blog/')}}/{{else}}/blog{{/if}}" class="header__logo"></a>
  <div class="header__right">
    <a href="#" class="icon header__theme-toggler"></a>
    <a href="#" class="icon header__menu-toggler"></a>
  </div>
</div>
