<nav class="pagination">
  {% if pagination.nextPageLink -%}
    {% set nextPageNumber = pagination.pageNumber + 1 %}
    {% set nextPageLink = 'page/' ~ nextPageNumber %}
    <a class="pagination__item" href="/posts/{{ nextPageLink }}" rel="prev">К старым постам</a>
  {%- endif %}

  {% if pagination.previousPageLink -%}
    {% set previousPageNumber = pagination.pageNumber - 1 %}
    {%- if pagination.pageNumber == 1 -%}
      {% set previousPageLink = '' %}
    {%- else -%}
      {% set previousPageLink = 'page/' ~ previousPageNumber %}
    {%- endif -%}
    <a class="pagination__item" href="/posts/{{ previousPageLink }}" rel="next">К новым</a>
  {%- endif %}
</nav>
