<div class="posts">
  {% for post in postslist | reverse %}
    <div style="{% if post.data.bg %}background-image: url('{{ post.data.bg }}');{% endif %}" class="posts__item{% if post.url == url %} posts__item_active{% endif %}{% if post.data.bg %} posts__item_theme_light{% endif %}">
      <time class="posts__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      <a href="{{ post.url | url }}" class="posts__link {{post.data.class}}">{{ post.data.title }}</a>
      <div class="posts__desc">{{ post.data.description }}</div>
      <div class="post__like">{{ post.data.likes }}</div>
    </div>
  {% endfor %}
</div>
