{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "import/no-default-export": "error",
    "no-param-reassign": ["error", { "props": false }],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "configs/**",
        ".scripts/**",
        "**/__tests__/**"
      ],
      "optionalDependencies": false
    }]
  }
}
