{
  "extends": ["stylelint-config-standard", "stylelint-config-recommended"],
  "ignoreFiles": [
    "./dist/**",
    "./node_modules/**"
  ],
  "rules": {
    "no-descending-specificity": null
  }
}
