---
layout: layouts/main.njk
permalink: /javascript-quiz/
title: Квиз на знание javascript-а
description: 13 интересных вопросов, которые затрагивают многие темы, как работает javascript
---
<h2>Квиз по JavaScript</h2>

<div class="homepage">
  <div class="quiz" data-opts='{"dataUrl": "/assets/js-quiz-1.json", "preview": true}'></div>
  <div class="copy-btn" data-clipboard-text="https://amorgunov.com/javascript-quiz">
    <span>Скопировать ссылку на квиз</span>
  </div>
  <br/>
  Разбор каждого вопроса квиза доступен <a href="/posts/2019-06-29-review-js-quiz-codefest/">здесь</a>.
</div>
