---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
layout: layouts/main.njk
renderData:
  title: Посты с тегом «{{ tag }}»
permalink: /tags/{{ tag }}/
---
<h1>Посты с тегом «{{ tag }}»</h1>

{% PostList {
  items: collections[tag]
} %}

<div class="more">
  <p>Смотрите <a href="{{ '/tags/' | url }}">все теги</a>.</p>
</div>
