.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 4px;
  padding-top: 58px;
  color: var(--color-grey1);
  line-height: 1;
}

.footer__item_divider {
  color: var(--color-grey3);
}
