.menu {
  z-index: 5;
}

.menu__overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;

  .menu_opened & {
    opacity: 1;
    visibility: visible;
  }

  &::after {
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.15) 60%, rgba(217, 217, 217, 0) 100%);
  }
}

.menu__content {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 36px 24px;
  height: 100%;
  max-width: 320px;
  width: 85%;
  background: var(--color-white);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  text-align: left;
  overflow-y: auto;

  .menu_opened & {
    transform: translate(0, 0);
    visibility: visible;
  }

  .menu:not(.menu_opened) & {
    animation: 1s fadeOut;
    animation-fill-mode: forwards;
    visibility: visible;
  }

  @media (--viewport-mobile) {
    top: 16px;
    width: calc(100vw - 48px);
    max-width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    transform: translateY(100%);
  }
}

.menu__block {
  padding: 16px 0;
}

.menu__block-header {
  padding: 8px 0;
}

.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__toggler {
  display: inline-block;
  position: absolute;
  right: 24px;
  top: 34px;
  width: 19px;
  height: 19px;
  background-image: url(/assets/images/icons/cross.svg);
  background-repeat: no-repeat;
  background-size: 19px 19px;

  &:hover {
    background-color: var(--color-grey4);
    border-radius: 4px;
  }
}

.menu__logo {
  display: block;
  width: 42px;
  height: 27px;
  background-image: url(/assets/favicon192.png);
  background-repeat: no-repeat;
  background-size: 42px;
  background-position-y: -10px;
}

@keyframes fadeOut {
  99% { visibility: visible; }
  100% { visibility: hidden; }
}
