.post-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: max-content;
  gap: 16px;
  max-width: 100%;
  padding-top: 8px;

  @media (--viewport-mobile) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  &_compact {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
  }
}

.post-list_popular:not(.post-list_compact) {
  grid-template-columns: repeat(3, minmax(0, 1fr));

  @media (--viewport-mobile) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

a.post-list__card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 20px 24px;
  color: var(--color-dark);
  background: var(--color-grey3);
  background-size: cover;
  box-sizing: border-box;
  border-radius: 24px;
  transition: transform 0.3s ease-in-out;

  .post-list_popular & {
    background-color: var(--color-primary);
    flex-grow: 1;
    transition: all 0.3s ease-in-out;
  }

  .post-list_popular &:hover {
    background-color: var(--color-primaryPressed);
  }

  .post-list_compact & {
    padding: 0 16px 16px;
  }

  &:hover {
    transform: scale(0.95);
  }

  &_light > * {
    z-index: 2;
  }

  &_light::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    touch-action: none;
    pointer-events: none;
    background: linear-gradient(#fff 20%, #fff0);
    z-index: 1;
    content: "";
  }
}

.post-list__card-title {
  margin-bottom: 4px;
  color: var(--color-dark);
  word-break: break-word;

  .post-list_compact & {
    font-size: 18px;
  }
}

.post-list__card-title a {
  margin-bottom: 4px;
  color: inherit;
  text-decoration: none;
}

.post-list__card-date {
  padding: 4px 0;
  color: var(--color-grey1);

  .post-list__card_light & {
    color: var(--color-dark);
  }

  .post-list_popular & {
    flex-grow: 2;
    color: var(--color-dark);
  }
}

.post-list__card-annotation {
  padding: 12px 0 4px;
  color: var(--color-grey1);
  flex-grow: 2;

  .post-list_popular & {
    display: none;
  }
}

.post-list__card-likes {
  padding-bottom: 1px;
  padding-left: 22px;
  margin-top: 10px;
  font-weight: 700;
  background-image: url(/assets/images/fire.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;

  .post-list_popular & {
    font-size: 19px;
  }
}
