.post__content {
  word-wrap: break-word;
  padding: 20px 0;
  font-size: 18px;
  line-height: 1.5;

  p {
    padding: 8px 0;
  }

  img {
    max-width: 100%;
    width: 100%;
  }

  pre {
    overflow-x: auto;
  }

  p code,
  li code {
    background: var(--secondary-background-color);
    padding: 1px 5px;
    font-family: 'Fira Mono', monospace;
  }

  video {
    width: 100%;
  }

  a[rel~='external']::after {
    display: inline-block;
    width: 15px;
    background-position-y: 5px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' x='0px' y='0px' viewBox='0 0 100 100' width='15' height='15' class='icon outbound'%3E%3Cpath fill='currentColor' d='M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z'%3E%3C/path%3E%3Cpolygon fill='currentColor' points='45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9'%3E%3C/polygon%3E%3C/svg%3E");
    opacity: 0.8;
    content: '\2009';

    html[data-theme="dark"] & {
      filter: invert(1);
    }
  }

  a:not(.tag) {
    text-decoration: underline;
    color: var(--secondary-brand-color);

    &:hover {
      text-decoration: none;
      color: var(--secondary-brand-colorPressed);
    }
  }

  p + ul,
  h2 + ul {
    padding-top: 0;
  }

  img.lazyload {
    filter: blur(0);
  }

  blockquote {
    margin: 20px 0 20px -20px;
    padding: 0 20px;
    font-style: italic;
    border-left: 4px solid #777;

    @media (--viewport-mobile) {
      margin-left: 0;
    }
  }

  blockquote p {
    margin: 0 !important;
  }

  ul {
    padding-bottom: 20px;
    padding-left: 40px;
    padding-top: 20px;
  }
}

.post__content .image_size_xl {
  @media (--viewport-large-screen) {
    max-width: none !important;
    width: 1200px !important;
    margin-left: -240px;
  }
}

.post__date {
  color: var(--secondary-text-color);
  padding: 8px 0;
}

.post__readmore-title {
  padding: 30px 0 20px;
}

.post-series {
  background: #e27e001f;
  margin: 0 0 1rem;
  padding: 2rem;
  counter-reset: post-series-counter;
  border-radius: 8px;

  & > ol {
    margin: 0;
    list-style: none;
  }

  & > ol li {
    counter-increment: post-series-counter;

    &::before {
      color: var(--text-color);
      font-weight: bold;
      content: "Часть " counter(post-series-counter) ": ";
    }
  }

  & > h4 {
    font-size: 1.2em;
    padding-bottom: 15px;
  }
}

.post .highlight {
  background: rgba(255, 235, 59, 0.35);
}

pre code.hljs {
  padding: 20px 30px;
  -webkit-font-smoothing: antialiased;
  border-radius: 2px;
  word-wrap: break-word;
  overflow-wrap: normal;

  @media (--viewport-mobile) {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  }
}

.image-text {
  text-align: center;
  margin: 0 auto 20px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 16px;
}

.code-path {
  color: var(--secondary-text-color);
  font-family: 'Fira Mono', monospace;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: -5px;
  margin-left: 5px;
}

.direct-link {
  color: var(--secondary-text-color) !important;
  text-decoration: none !important;
}

.arrow {
  border: solid var(--text-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.arrow_type_up {
  transform: rotate(-135deg);
}

.arrow_type_down {
  transform: rotate(45deg);
}

.post-layer__up {
  position: fixed;
  min-width: 115px;
  height: 100%;
  opacity: 0.32;
  cursor: pointer;
  transition: opacity 60ms linear;
  top: 0;
  transform: translateZ(0);
  z-index: 999;
  left: 0;
  color: var(--text-color);
  text-align: center;

  &:hover {
    background: var(--outline-color);
    opacity: 0.8;
  }

  display: none;
}

.post-layer__up_scrolled,
.post-layer__has_down_scroll {
  display: none;

  @media (--viewport-large-screen) {
    display: block;
  }
}

.post-layer__has_down_scroll .arrow_type_up {
  display: none;
}

.post-layer__up_scrolled .arrow_type_down {
  display: none;
}

.post-layer__back {
  padding: 5px 16px;
  margin: 32px 16px;
  font-weight: 700;
  font-size: 14px;
}

.apple-divider {
  background-image: url("/assets/images/divider.gif");
  background-size: cover;
  width: 60px;
  height: 60px;
  background-position: center center;
  margin: 16px auto;

  html[data-theme="dark"] & {
    filter: invert(0.9);
  }
}

.post__subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 35px;
  background: var(--secondary-background-color);
  margin-top: 32px;
}

.post__subscribe-content {
  display: flex;
  align-items: center;
  gap: 32px;

  @media (--viewport-mobile) {
    flex-direction: column;
  }
}

.post__subscribe-button {
  height: 24px;
  padding: 12px 20px;
  background: var(--brand-color);
  color: var(--color-dark);
  border: 0;
  font-size: 16px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  gap: 8px;

  &:hover {
    background: var(--brand-colorPressed);
  }
}

.post__subscribe-icon {
  background-image: url("/assets/images/icons/send.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
}
