<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | url }}">
    <meta name="yandex-verification" content="e1570293e78bfd37" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff" />
    <meta name="robots" content="index,follow" />
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="stylesheet" href="{{ '/assets/app.css' | url }}">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body {% if templateClass %}class="{{ templateClass }}"{% endif %}>

    {% include "components/header.njk" %}

    <main class="main{% if templateClass %} {{ templateClass }}{% endif %}">
      {{ content | safe }}
    </main>

    {% include "components/footer.njk" %}
    {% include "components/yandex-metrika.njk" %}

    <script src="{{ '/assets/highlight.js' | url }}"></script>
    <script src="{{ '/assets/app.js' | url }}"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <script>
      if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', { scope: '/' })
          .then(function(registration) {
            console.debug('Service Worker Registered');
          });

        navigator.serviceWorker.ready.then(function(registration) {
          console.debug('Service Worker Ready');
        });
      }
    </script>
  </body>
</html>
