<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' | url }}">
    <meta name="yandex-verification" content="e1570293e78bfd37" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff" />
    <meta name="robots" content="index,follow" />
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="og:url" content="{{metadata.url}}{{page.url}}">
    <meta property="og:title" content="{{renderData.title or title or metadata.title}}">
    <meta property="og:site_name" content="{{metadata.title}}">
    <meta property="og:description" content="{{renderData.description or description or metadata.description}}">
    <meta property="og:image" content="{{metadata.url}}{{featuredImageThumbnail or metadata.featuredImageThumbnail}}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ru">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="{{metadata.url}}{{featuredImageThumbnail or metadata.featuredImageThumbnail}}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="manifest" href="/manifest.json">
    {% block afterhead %}{% endblock %}
  </head>
  <body class="{% block bodyClass %}{% endblock %}">
    {% include "components/header.njk" %}
    <main class="main {% block templateClass %}{% endblock %}">
      {% block content %}{% endblock %}
    </main>
    {% include "components/footer.njk" %}
    {% block afterbody %}{% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179522059-1"></script>
    <script>
      if (location.host === 'amorgunov.com') {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-179522059-1');
      }
    </script>
    <script>
      if('serviceWorker' in navigator && location.host === 'amorgunov.com') {
        navigator.serviceWorker.register('/sw.js', { scope: '/' })
          .then(function(registration) {
            console.debug('Service Worker Registered');
          });

        navigator.serviceWorker.ready.then(function(registration) {
          console.debug('Service Worker Ready');
        });
      }
    </script>
  </body>
</html>
