<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' | url }}">
    <meta name="yandex-verification" content="e1570293e78bfd37" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff" />
    <meta name="robots" content="index,follow" />
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">

    <meta property="og:url" content="{{metadata.url}}{{page.url}}">
    <meta property="og:title" content="{{renderData.title or title or metadata.title}}">
    <meta property="og:site_name" content="{{metadata.title}}">
    <meta property="og:description" content="{{renderData.description or description or metadata.description}}">
    <meta property="og:image" content="{{metadata.url}}{{featuredImageThumbnail or metadata.featuredImageThumbnail}}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ru">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="stylesheet" href="{{ '/assets/app.css' | url }}">
    <link rel="manifest" href="/manifest.json">

    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Lora:400,700,400italic,700italic|Merriweather:400italic,400,300italic,300,700,700italic|Open+Sans:300italic,400italic,700italic,700,300,400&amp;subset=latin,cyrillic-ext,greek-ext,greek,devanagari,vietnamese,latin-ext,cyrillic" rel="stylesheet" type="text/css">
  </head>
  <body {% if templateClass %}class="{{ templateClass }}"{% endif %}>

    {% include "components/header.njk" %}

    <main class="main{% if templateClass %} {{ templateClass }}{% endif %}">
      {{ content | safe }}
    </main>

    {% include "components/footer.njk" %}
    {% include "components/yandex-metrika.njk" %}

    <script src="{{ '/assets/highlight.js' | url }}"></script>
    <script src="{{ '/assets/app.js' | url }}"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <script>
      if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', { scope: '/' })
          .then(function(registration) {
            console.debug('Service Worker Registered');
          });

        navigator.serviceWorker.ready.then(function(registration) {
          console.debug('Service Worker Ready');
        });
      }
    </script>
  </body>
</html>
