{% extends "layouts/default.njk" %}
{% block templateClass %}tmpl-page{% endblock %}
{% block bodyClass %}tmpl-page{% endblock %}
{% block afterhead %}<link href="/assets/build/main.css?v=a2c9ff201276373ed3aa" rel="stylesheet">{% endblock %}
{% block content %}{{ content | safe }}{% endblock %}
{% block afterbody %}<script src="/assets/build/main.entry.js?v=24f4ca5e1e811234938d"></script>{% endblock %}
