---
layout: layouts/default.njk
templateClass: tmpl-post
---
<div class="post">
  <h1>{{ title }}</h1>
  <div class="post__time">
    <time datetime="{{date | htmlDateString }}">{{ date | readableDate}}</time>, 🕓<strong>{{time}} мин.</strong> на чтение материала</div>
  {{ content | safe }}
</div>

<div class="post__tags">
  {% set tags = tags %}
  {% include "components/tags.njk" %}
</div>

<div class="post__emotions">
    <span class="post_emotion post__emotion_type_shocked"></span>
</div>

{% set collection = "posts" %}
{% include "components/nextprev.njk" %}

<div class="post-layer__up">
  <div class="post-layer__back">
    <i class="arrow arrow_type_up"></i>
    <i class="arrow arrow_type_down"></i>
  </div>
</div>
