{% extends "layouts/default.njk" %}
{% block templateClass %}tmpl-post{% endblock %}
{% block bodyClass %}tmpl-post{% endblock %}
{% block afterhead %}<%= htmlWebpackPlugin.tags.headTags %>{% endblock %}
{% block content %}
<div class="post">
  <h1>{{ title }}</h1>
  <div class="post__time">
    <time datetime="{{date | htmlDateString }}">{{ date | readableDate}}</time>
  </div>

  {% TagList {
    items: tags,
    sectionClassName: 'post__tags'
  } %}

  {{ content | safe }}
</div>
<div class="post__emotions"></div>
<div class="post__readmore">
  <h3 class="post__readmore-title">Вам может быть интересно</h3>

  {% PostList {
    items: collections.posts | relatedPosts(page.url, tags, 3)
  } %}
</div>
<div class="post-layer__up">
  <div class="post-layer__back">
    <i class="arrow arrow_type_up"></i>
    <i class="arrow arrow_type_down"></i>
  </div>
</div>
{% endblock %}
{% block afterbody %}
<script defer src="/assets/highlight.js"></script>
<%= htmlWebpackPlugin.tags.bodyTags %>
{% endblock %}
