{% extends "layouts/default.njk" %}
{% block templateClass %}tmpl-post{% endblock %}
{% block bodyClass %}tmpl-post{% endblock %}
{% block afterhead %}<link href="/assets/build/post.css?v=035665dfae9d58630ce0" rel="stylesheet">{% endblock %}
{% block content %}
<div class="post">
  <h1>{{ title }}</h1>
  <div class="post__time">
    <time datetime="{{date | htmlDateString }}">{{ date | readableDate}}</time>
  </div>

  <div class="post__tags">
    {% set tags = tags %}
    {% include "components/tags.njk" %}
  </div>

  {{ content | safe }}
</div>
<div class="post__emotions"></div>
<div class="post__readmore">
  <h3 class="post__readmore-title">Вам может быть интересно</h3>
  {% set postslist = collections.posts | relatedPosts(page.url, tags, 3) %}
  {% include "components/posts.njk" %}
</div>
<div class="post-layer__up">
  <div class="post-layer__back">
    <i class="arrow arrow_type_up"></i>
    <i class="arrow arrow_type_down"></i>
  </div>
</div>
{% endblock %}
{% block afterbody %}
<script async src="/assets/highlight.js"></script>
<script src="/assets/build/vendors~main~post.entry.js?v=5624b8243db4410795f5"></script><script src="/assets/build/vendors~post.entry.js?v=8231e6b0de49c157ad29"></script><script src="/assets/build/post.entry.js?v=fd1d7a1a418a89ab4cf8"></script>
{% endblock %}
