---
layout: layouts/home.njk
title: Обратная связь
tags:
- nav
navtitle: Связаться
permalink: /about/
---

<h1>Обратная связь</h1>

Пишите в телеграм: <a href="https://t.me/saaaaaaaaasha">@saaaaaaaaasha</a>.

