---
layout: layouts/home.njk
title: Обратная связь
tags:
- nav
navtitle: Связаться
permalink: /about/
---

<h1>Обратная связь</h1>

Пишите в телеграм: <a href="https://t.me/saaaaaaaaasha">@saaaaaaaaasha</a> или заполните форму ниже:

<div style="background: #fff; margin-top: 30px; padding: 15px; width: 100%">
  <script src="https://yastatic.net/q/forms-frontend-ext/_/embed.js"></script>
  <iframe src="https://forms.yandex.ru/u/5c97c5216b6a502a228a5373/?iframe=1" frameborder="0" name="ya-form-5c97c5216b6a502a228a5373" width="650"></iframe>
</div>
