---
layout: layouts/main.njk
title: Об авторе
tags:
- nav
navtitle: Об авторе
permalink: /about/
---

<h1>Об авторе</h1>
<main class="about">
  <img alt="Фотография" class="about__image" src="/assets/images/avatar.jpg"/>

  <div class="about__desc">
  <p class="about__paragraph">Всем привет! Меня зовут Александр Моргунов и я автор этого блога. Занимаюсь разработкой еще со школы, три года работал в Новео, с начала 2018 работаю в Яндексе (Новосибирск, Россия). В веб-разработку вошел с PHP (первый проект на работе был на битриксе, поэтому познал всю боль поддерживать неподдерживаемый код с самого начала), потом перешел на Javascript (до того как это стало мейнстримом) и писал на marionette (обертка над бэкбоном). Тогда прочитал свою первую книгу по фронтэнду (книга была про бэкбон от Эдди Османи) и даже написал свою небольшую обертку: <a href="https://github.com/noveogroup-amorgunov/marionette-lite">marionette-lite</a>.</p>
  <p class="about__paragraph">Далее, когда реакт начал захватывать фронтэнд, я начал погружаться в NodeJs (когда еще коллбэк-хел был одной из главный проблем, хотя промисы потихоньку начинали решать это) и пару лет разрабатывал небольшие API, изучая по ходу философию ноды. Но про фронтэнд не забывал - изучал реакт, вью, честно пытался изучить тогда еще первый ангуляр, но что-то не пошло.</p>
  <p class="about__paragraph">В Яндекс перешел в роли разработчика, попал в команду с отличными ребятами, но с дерьмовыми проектами. В итоге, после года работы из первоначальной команды остался только я, с этим пришло больше ответственности за новых ребят и проекты. Начал прокачивать менеджерские скиллы. В настоящий момент дорос до тимлида (внутри компании работаю в должности руководителя группы разработки), но про код не забываю. Пытаюсь держаться где-то посередине между "тех" и "тим".</p>
  <p class="about__paragraph">К хобби, как вы можете догадаться по наличию блога, отношу программирование, футбол (играть, смотреть, болеть за Ливерпуль, YNWA) и кататься на горных лыжах.</p>

  <h2>Как связаться</h2>
  Пишите в телеграм <a href="https://t.me/saaaaaaaaasha">@saaaaaaaaasha</a> или почту <a href="mailto:fxl@list.ru">fxl@list.ru</a>.
</main>
