---
layout: layouts/main.njk
title: Архив постов
tags:
  - nav
navtitle: Посты
pagination:
  data: collections.posts
  size: 10
  reverse: true
permalink: /posts/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
---

<h1>Архив постов</h1>

{% PostList {
  items: pagination.items | reverse
} %}

{% Pagination {
  pagination: pagination
} %}
