---
layout: layouts/main.njk
title: cv
permalink: /cv/
---

<div class="cv-page">
<h1>CV</h1>

<div class="cv-page__section">
    <div class="cv-page__title">
        Общая информация
    </div>
    <div class="cv-card cv-card_type_common">
        <div><div class="cv-card__position">Моргунов Александр Сергеевич, 22/12/93</div></div>
    </div>
    <div class="cv-card cv-card_type_common">
        <div class="cv-card__period">Способ связи</div>
        <div><div class="cv-card__position">fxl@list.ru</div></div>
    </div>
    <div class="cv-card cv-card_type_common">
        <div class="cv-card__period">Город</div>
        <div><div class="cv-card__position">Новосибирск</div></div>
    </div>
    <div class="cv-card cv-card_type_common">
        <div class="cv-card__period">Гражданство</div>
        <div><div class="cv-card__position">РФ</div></div>
    </div>
    <div class="cv-card cv-card_type_common">
        <div class="cv-card__period">Статус</div>
        <div><div class="cv-card__position">Временно закрыт для новых предложений</div></div>
    </div>
</div>

<div class="cv-page__section">
    <div class="cv-page__title">
        Опыт работы
    </div>
    <div class="cv-card cv-card_type_experience">
        <div class="cv-card__period cv-card__period_active">
            Январь 2020 – Настоящее время
        </div>
        <div class="cv-card__block">
            <div class="cv-card__block_point"></div>
            <div class="cv-card__block_line cv-card__block_line_bottom"></div>
            <div class="cv-card__position">
                Руководитель группы разработки
            </div>
            <div class="cv-card__job-place">
                Яндекс
            </div>
        </div>
    </div>
    <div class="cv-card cv-card_type_experience">
        <div class="cv-card__period">
            Август 2019 – Октябрь 2019<br>(3 месяца)
        </div>
        <div class="cv-card__block">
            <div class="cv-card__block_line cv-card__block_line_full"></div>
            <div class="cv-card__position">
                Ментор
            </div>
            <div class="cv-card__job-place">
                Яндекс <a class="cv-card__job-place-link" target="_blank" href="https://yandex.ru/promo/events/javascript__nsk">(Ссылка на промо)</a>
            </div>
            <div class="cv-card__desc">
                <p>Участвовал в трехмесячном курсе от Яндекса по основам JavaScript. Курс проходил в двух городах, в Новосибирске я отвечал за ментарство, частичное составление программы, проведение оффлайн занятий, код ревью.</p>
                <br/>
                - Оффлайн встречи с студентами и поддержка в чате<br/>
                - Мотивация студентов<br/>
                - Код ревью задач<br/>
                - Проведение JavaScript квиза
            </div>
        </div>
    </div>
    <div class="cv-card cv-card_type_experience">
        <div class="cv-card__period">
            Январь 2018 – Декабрь 2019<br>(2 года)
        </div>
        <div class="cv-card__block">
            <div class="cv-card__block_point"></div>
            <div class="cv-card__block_line cv-card__block_line_top"></div>
            <div class="cv-card__position">
                Javascript разработчик
            </div>
            <div class="cv-card__job-place">
                Яндекс
            </div>
        </div>
    </div>
    <div class="cv-card cv-card_type_experience">
        <div class="cv-card__period">
            Февраль 2015 – Декабрь 2017<br>(2 года 11 месяцев)
        </div>
        <div class="cv-card__block">
            <div class="cv-card__block_point"></div>
            <div class="cv-card__block_line cv-card__block_line_bottom"></div>
            <div class="cv-card__position">
                Web разработчик
            </div>
            <div class="cv-card__job-place">
                Noveo
            </div>
            <div class="cv-card__desc">
                <p>Занимался разработкой различных веб-приложений и API используя современные технологии.</p><br/>

                - Работа в интернациональной распределенной команде на иностранных заказчиков<br/>
                - Оценка задач и целых проектов<br/>
                - Проектирование архитектуры приложений<br/>
                - Помощь в проектировании спецификации проектов<br/>
                - Написание веб-тренингов внутри компании<br/>
                - Проведение JS-стажировки в качестве составителя лекций, ментора и код-ревьювера<br/>
                - Ревью кода<br/>
                - Организация процесса разработки<br/>
                - Написания кода<br/>
                - Менторство младших разработчиков<br/><br/>

                <p>Используемые технологии: JavaScript, CSS, HTML, Sass, React, NodeJs, Koa2, Express, PHP, Yii2, Bitrix, Apache, Nginx, MySQL, PostgreSQL, MongoDb, LUIS, MS BotBuilder, Git, Redmine, JIRA</p>
            </div>
        </div>
    </div>
    <div class="cv-card cv-card_type_experience">
        <div class="cv-card__period">
            Октябрь 2015 – Декабрь 2015<br>(3 месяца)
        </div>
        <div class="cv-card__block">
            <div class="cv-card__block_point"></div>
            <div class="cv-card__block_line cv-card__block_line_top"></div>
            <div class="cv-card__position">
                Стажер
            </div>
            <div class="cv-card__job-place">
                Noveo
            </div>
            <div class="cv-card__desc">
                <p>Проходил web-стажировку, изучая все актуальные на тот момент времени инструменты. В качестве финального проекта сделал приложение на Yii2 с интеграцией внешнего API.</p>
            </div>
        </div>
    </div>
</div>

<div class="cv-page__section">
    <div class="cv-page__title">
        Выступления
    </div>
    <div class="cv-card cv-card_type_education">
        <div class="cv-card__period">
            Май 2019
        </div>
        <div>
            <div class="cv-card__position">
                Добро пожаловать в serverless
            </div>
            <div class="cv-card__job-place">
                JS Party, Новосибирск
            </div>
            <div class="cv-card__desc">
                Рассказывал о «безсерверной архитектуре» serverless: что это за архитектура, зачем она появилась, какими особенностями обладает и в каких проектах её можно применять. Разобрал практический пример, в рамках которого была написана первая лямбда-функция.
            </div>
        </div>
    </div>
    <div class="cv-card cv-card_type_education">
        <div class="cv-card__period">
            Октябрь 2019
        </div>
        <div>
            <div class="cv-card__position">
                Server side rendering в React
            </div>
            <div class="cv-card__job-place">
                React Nsk, Новосибирск
            </div>
            <div class="cv-card__desc">
                В ходе доклада разобрали, какие проблемы решает «рендеринг» на стороне сервера, что такое универсальные приложения и какие есть альтернативы. Рассмотрели, как встраивать его в React-приложение и обсудили популярные на сегодняшний день практики и подводные камни, с которыми моя команда столкнулась в ходе разработки.
            </div>
        </div>
    </div>
</div>

<div class="cv-page__section">
    <div class="cv-page__title">
        Образование
    </div>
    <div class="cv-card cv-card_type_education">
        <div class="cv-card__period">
            2015 – 2017
        </div>
        <div>
            <div class="cv-card__position">
                Novosibirsk State Technical University (NSTU)
            </div>
            <div class="cv-card__job-place">
                Master's degree, Information Technology
            </div>
        </div>
    </div>
    <div class="cv-card cv-card_type_education">
        <div class="cv-card__period">
            2010 – 2015
        </div>
        <div>
            <div class="cv-card__position">
                Novosibirsk State Technical University (NSTU)
            </div>
            <div class="cv-card__job-place">
                Bachelor's degree, Computer Science
            </div>
        </div>
    </div>
</div>

<div class="cv-page__section">
    <div class="cv-page__title">
        Ключевые навыки
    </div>
    <div class="cv-card cv-card_type_education">
        <div class="cv-card__period">
            Языки
        </div>
        <div>
            <div class="">
                - Русский (родной)
            </div>
            <div class="">
                - Английский (intermediate)
            </div>
        </div>
    </div>
    <div class="cv-card cv-card_type_education">
        <div class="cv-card__period">
            Навыки
        </div>
        <div>
            <div class="cv-card__job-place">
                JavaScript, React, NodeJs, TypeScript, docker, VueJs, Redux, redux-saga, redux-thunk, lerna, immer, mobx, unit тестирование (jest+enzyme), тестирование скриншотами с помощью puppeteer/hermione, webpack, eslint, postcss, prettier, babel, server side rendering, load testing, git, PostgreSQL, PHP, pwa, scrum, jira, redmine, aws lambda
            </div>
        </div>
    </div>
</div>
<div class="cv-page__section">
    <div class="cv-page__title">
        Дополнительная информация
    </div>
    <div>
        Не курю, обладаю софт и хард скиллами, легко обучаюсь и вливаюсь в
        коллектив. Люблю путешествовать, футбол и кататься на горных лыжах.
    </div>
</div>
</div>
