---
layout: layouts/main.njk
permalink: /
title: Блог о веб-разработке
description: Блог о веб-разработке, реакте, тайпскрипте и не только
---
<div class="home">
  <h1 class="home__title" style="display: none;">Блог о веб-разработке</h1>
  <a href="/" class="home__logo" aria-label="Логотип"></a>
  <div class="home__about">
    Пишу о <a class="home__about-tag" href="/tags/react">#реакте</a>, <a class="home__about-tag" href="/tags/typescript">#тайпскрипте</a>, <a class="home__about-tag" href="/tags/nodejs">#ноде</a>  и
    обо всем том, что связанно с веб-разработкой.
  </div>

  {% PostList {
    items: collections.posts | head(-7),
    showQuiz: true
  } %}

   <div class="home__about">
        Остальные посты вы найдете <a href="{{ '/posts/' | url }}">в архиве</a>. А еще больше заметок и материалов вы сможете найти в телеграм канале <strong><a href="https://t.me/amorgunov" rel="noreferrer" target="_blank">t.me/amorgunov</a></strong>
   </div>

  {% TagList {
    items: collections.tagList,
    showTitle: true
  } %}
</div>
