---
layout: layouts/next.hbs
permalink: /
title: Блог о веб-разработке
description: Блог о веб-разработке, реакте, тайпскрипте и не только
pageType: home
---

<p>Привет! 🎉</p>
<p>Я Александр. Я <i>software engineer</i> больше извесный как @saaaaaaaaasha</p>
<p>
  {{#> components/text type="h4"}}
    Пишу о {{#> components/link href="/tags/react"}}#реакте{{/ components/link}}, {{#> components/link href="/tags/typescript"}}#тайпскрипте{{/ components/link}}, {{#> components/link href="/tags/nodejs"}}#ноде{{/ components/link}} и
    обо всем том, что связанно с веб-разработкой. Гоу в {{#> components/link href="/blog"}}блог{{/ components/link}}.
  {{/ components/text}}
</p>
