---
layout: layouts/home.njk
permalink: offline.html
excludeFromSitemap: true
---
<h1>Вы сейчас оффлайн</h1>

К сожалению, я не могу загрузить страницу, так как у вас нет соединения с интернетом.
Попробуйте перезагрузить страницу позже или перейти на <a href="{{ '/' | url }}">главную</a>.
