@import '../media.css';

.home__more {
  padding: 20px 0;
}

.home__logo {
  background-image: url("/assets/logo.jpg");
  background-size: cover;
  width: 120px;
  height: 144px;
  margin: 0 auto;
  background-repeat: no-repeat;
  position: relative;
  display: block;

  &:hover {
    &::after {
      background-color: #231f20;
      content: "";
      display: inline-block;
      width: 20px;
      height: 6px;
      position: absolute;
      top: 108px;
      left: 45px;
    }
  }
}

.home__about {
  font-size: 1rem;
  margin: 20px auto;
  line-height: 140%;
  text-align: center;
  max-width: 500px;
  color: #000;
}

.home__about-tag {
  font-weight: bold;
}

.home {
  margin-bottom: 60px;
}

.home__photo {
  width: 120px;
  border-radius: 120px;
  margin-right: 30px;
  float: left;

  @media (--viewport-small) {
    float: none;
  }
}

.home__title,
.home__year {
  font-size: 39px;
  padding-bottom: 10px;

  @media (--viewport-small) {
    font-size: 26px;
  }
}
