@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  background-color: var(--background-color);
  color: var(--text-color);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
}

hr {
  border: 0;
  height: 3px;
  background-color: var(--secondary-background-color);
}

.page__content:not(.post) > h1,
h2 {
  margin: 0.83em 0 0.4em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
  margin: 0.83em 0 0.4em;
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

pre {
  font-size: 15px;
  font-family: 'Fira Mono', monospace;
  line-height: 22px;
  margin: 1em 0;
}

iframe {
  @media (--viewport-mobile) {
    width: 100%;
  }
}

ol {
  @media (--viewport-mobile) {
    margin-left: 16px;
  }
}

.section {
  padding: 16px 0;
}

.icon {
  html[data-theme="dark"] & {
    filter: invert(1);
  }

  &:hover {
    background-color: var(--outline-color);
    border-radius: 4px;
  }
}

button.icon {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

html[data-theme="dark"] img {
  filter: brightness(0.8) contrast(1.2);
}

html[data-theme="dark"] img.inverting {
  filter: invert(100%) hue-rotate(180deg);
}

.post img.inverting {
  mix-blend-mode: multiply;

  html[data-theme="dark"] & {
    mix-blend-mode: screen;
  }
}

/* a11y */

.visually-hidden {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
