body:not(.loaded) .menu {
  display: none;
  opacity: 0;
}

.menu::backdrop {
  background: linear-gradient(270deg, rgba(0, 0, 0, .30) 60%, hsla(0, 0.00%, 52.90%, 0.40));
  transition: opacity 0.3s ease-in-out;

  html[data-theme="dark"] & {
    background: linear-gradient(270deg, rgba(255, 255, 255, .15) 60%, hsla(0, 0.00%, 52.90%, 0.20));
  }
}

.menu {
  position: fixed;
  border: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 36px 24px;
  padding-top: 72px;
  height: 100%;
  max-width: 320px;
  width: 85%;
  background: var(--background-color);
  text-align: left;
  overflow-y: auto;

  &[open] {
    animation: 0.3s fadeIn;
    animation-fill-mode: forwards;
  }

  @media (--viewport-mobile) {
    top: 16px;
    width: calc(100vw - 48px);
    max-width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
  }
}

.menu__block {
  padding: 16px 0;
}

.menu__toggler {
  position: fixed;
  right: 24px;
  top: 34px;
  width: 19px;
  height: 19px;
  background-image: url(/assets/images/icons/cross.svg);
  background-repeat: no-repeat;
  background-size: 19px 19px;
}

.menu__nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
}

.menu__nav-list a {
  color: var(--text-color);
}

@keyframes fadeIn{
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
