.share {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;

  @media (--viewport-mobile) {
    display: block;
  }
}

.share__button {
  border: none;
  border-radius: 50%;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: var(--text-color);
  color: var(--background-color);
  padding: 8px;
  width: 40px;
  height: 40px;
}

.share__icon {
  background-image: url("/assets/images/icons/share.svg");
  width: 24px;
  height: 24px;
  margin-left: -1px;

  [data-theme="dark"] & {
    filter: invert(1);
  }
}
