@import './media.css';
@import './variables.css';

.footer {
  margin: 40px 0 20px;
  width: 100%;
  max-width: var(--content-max-width);
}

.footer__container {
  display: flex;

  @media (--viewport-small) {
    flex-direction: column;
  }
}

.footer__powered {
  text-align: center;
  flex-grow: 1;

  @media (--viewport-small) {
    margin-top: 10px;
  }
}

.footer__powered_active {
  font-weight: bold;
  background: #444;
  color: #fff;
}

.footer__powered-editpage {
  font-size: 0.75em;
}
