.posts {
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  &__item {
    position: relative;
    background-color: var(--theme-action-color);
    margin: 5px;
    border-radius: 15px;
    font-size: 14px;
    padding: 20px;
    min-height: 150px;
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.2s ease;
    word-break: break-word;
    background-size: cover;
    background-position: center;

    @media (--viewport-small) {
      font-size: 13px;
      min-height: 140px;
    }
  }

  &__item:hover {
    background-color: var(--theme-action-hovered-color);
  }

  &__item_theme_light &__link {
    display: inline-block;
    background: #fffa;
    padding: 1px;
  }

  &_item_theme_light &__date {
    background: #fffa;
  }

  &__link {
    font-weight: bold;
    display: block;
    color: #383838;
    font-size: 16px;
    padding-top: 5px;

    &:hover {
      opacity: 0.8;
    }
  }

  &__desc {
    padding: 10px 0;
    flex-grow: 2;
  }

  &__date {
    font-size: 0.75em;
    padding-right: 10px;
    margin-top: 2px;
  }

  &__item_type_quiz {
    order: 1;
    background-image: url('/assets/images/quiz.gif');
    background-color: #000;
    background-size: cover;
    background-position: center;
  }

  &__item_type_quiz &__link {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__like-icon {
    background-image: url("/assets/images/fire.svg");
    padding-left: 20px;
    font-weight: bold;
    background-size: 16px 16px;
    background-repeat: no-repeat;
  }
}
