@import './media.css';
@import './variables.css';

.post__emotions {
  position: relative;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 4px;
  height: 78px;
}

.post__emotions_error::after {
  color: red;
  content: 'Вы уже голосовали, переголосовать, увы, нельзя';
  position: absolute;
  bottom: 0;
  font-size: 14px;
}

.post__emotions-item_empty {
  display: inline-block;
  background: #eee;
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 30px;
  font-weight: bold;
  font-size: 14px;
  width: 54px;
  height: 41px;
}

.post_emotion {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 50px;
  background-size: cover;
  margin: 0 10px;
  cursor: pointer;

  @media (--viewport-small) {
    width: 40px;
    height: 40px;
  }
}

.post_emotion:hover {
  opacity: 0.8;
  animation: post_emotion_selected 1s ease-in-out 1;
}

.post_emotion__counter {
  display: inline-block;
  color: #fff;
  background: rgba(0, 0, 0, 0.93333);
  font-weight: bold;
  padding: 1px 5px;
  border-radius: 4px;
  position: absolute;
  bottom: -7px;
  right: -7px;
  font-size: 13px;
}

.post_emotion__counter_empty {
  display: none;
}

@keyframes post_emotion_selected {
  0% { transform: rotateZ(0deg); }
  30% { transform: rotateZ(15deg); }
  60% { transform: rotateZ(-15deg); }
  95% { transform: rotateZ(0deg); }
}

.post__readmore-title {
  padding-bottom: 20px;
}

.post a:not(.tags__item-link) {
  text-decoration: underline;
  color: #005aa1;

  &:hover {
    text-decoration: none;
    color: #2196f3;
  }
}

.post__time {
  color: #555;
  font-family: Arial, serif;
  font-size: 14px;
  margin-top: -10px;
  margin-left: 2px;
}

.post {
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-family: Georgia, serif;
  color: rgba(0, 0, 0, 0.86);
  line-height: 1.5em;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  max-width: 720px;
  margin-bottom: 30px;
}

.post h1 {
  font-family: var(--font-family-set);
  line-height: 1em;
}

.post .highlight {
  background: rgba(255, 235, 59, 0.35);
}

.post p {
  margin-block-start: 1em;
  margin-block-end: 1.5em;
  margin-top: 25px;
}

.post img {
  max-width: 100%;
  width: 100%;
}

.image_size_xl {
  @media (width >= 1200px) {
    max-width: none !important;
    width: 1200px !important;
    margin-left: -240px;
  }
}

/* ---------- */

.post__readmore {
  .posts__item:nth-child(1),
  .posts__item:nth-child(2),
  .posts__item:nth-child(3) {
    width: calc(33% - 10px);
  }

  .posts__item {
    @media (--viewport-small) {
      width: 100% !important;
    }
  }
}

.post-series {
  background: #fef6ec;
  margin: 0 0 1rem;
  padding: 2rem;
  counter-reset: post-series-counter;
  border-radius: 8px;

  & > ol {
    margin: 0;
    list-style: none;
  }

  & > ol li {
    counter-increment: post-series-counter;

    &::before {
      color: #000;
      font-weight: bold;
      content: "Часть " counter(post-series-counter) ": ";
    }
  }

  & > h4 {
    font-size: 1.2em;
    padding-bottom: 15px;
  }
}

.direct-link {
  text-decoration: none !important;
  color: #666 !important;

  &:hover {
    color: #aaa;
  }
}

.code-path {
  font-size: 13px;
  margin-bottom: -5px;
  margin-left: 5px;
  font-family: "Menlo", "Meslo LG", monospace;
  color: #555;
}
