@import './media.css';
@import './variables.css';

.tags {
  padding: 0;
  font-family: var(--font-family-set);

  &__item {
    display: inline-block;
    margin-right: 2px;
  }

  &__item-link {
    display: inline-block;
    color: var(--theme-text-color);
    background: var(--theme-action-color);
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: var(--theme-action-hovered-color);
    }
  }
}
