:root {
  --content-max-width: 720px;
  --font-family-set: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  --theme-text-color: #000;
  --theme-action-color: #eff32c;
  --theme-action-hovered-color: #f3de24;
}
