name: Update like counters
on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Install dependencies
        run: npm install
      - name: Update post likes
        run: npm run update-post-likes
      - name: Commit changes
        uses: EndBug/add-and-commit@v5
        with:
          author_name: noveogroup-amorgunov
          author_email: noveogroupamorgunov@gmail.com
          message: "Update likes"
          add: "*.md"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
